@font-face {
  font-family: Oldenburg;
  src: url("./assets/Oldenburg-Regular.ttf");
}

body {
  font-family: Oldenburg;
  background: #1f1e4d;
  outline: none;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, #main {
  color:greenyellow;
}

h1 {
  text-align: center;
  color: red;
  filter: blur(1px);
  filter: drop-shadow(0px 16px 20px rgb(219, 120, 219));
  font-size: 300%;
  margin-bottom: 60px;
}

#music {
  position: fixed;
  top: 10px;
  right: 10px;
  transform: scale(0.7);
  z-index: 2;
  outline: none;
  transition: all 1.5s;
  margin: 5px auto;
}

.charPic {
  height: 180px;
  border-radius: 10px;
  margin: 25px;
  opacity: 0.7
}

.charPic:hover {
  opacity: 1;
  padding: 1px;
  border: solid 3px green;
  filter: brightness(1.1);
  transform: rotate(360deg);
  transition: all 1s;
}

#img-x {
  height: 80px;
  border-radius: 5px;
  margin: 25px;;
  transition: all .1s;
  filter: invert(0) brightness(.9);;
}

#img-x:hover {
  opacity: 1;
  padding: 1px;
  height: 78px;
  border: solid 2px green;
  filter: invert(100%) brightness(1.1);
}

.order {
  color: yellow;
  font-style: oblique;
  margin: 30px 5px;
}

td {
  color: lightskyblue;
  padding-left: 20px;
}

.charName {
  padding-left: 0;
  text-align: center;
  background-image: radial-gradient(circle, purple, #1F1E4D 80%);
  color: yellow;
}

ul {
  list-style-type: none;
}

#topMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-image: linear-gradient(to right, #1f1e4d, purple);
  height: 35px;
}

.navBtn, #soundBtn {
  margin: 3px;
  height: 29px;
}

.navBtn {
  width: 100px;
  background-color: blue;
  color: lime;
  border-radius: 5px;
  outline: none;
}

#message {
  position: relative;
  height: 40px;
  opacity: 1;
  background-image: radial-gradient(circle, rgba(192, 242, 227, 0.5), rgba(255, 255, 0, 0));
  color:cyan;
  padding: 2px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.pear {
  transition: none;
  filter: opacity(0) blur(5px);
  left: 100%;
}

.appear {
  transition: all 1s ease-out;
  filter: opacity(1) blur(0);
  left: 0;
}

.disappear {
  transition: all 2.2s ease-out;
  filter: opacity(0) blur(5px);
  left: -80%;
}

#roomPic {
  display: block;
  margin: 20px auto;
  border: outset 5px turquoise;
  border-radius: 40px;
  height: 200px;
  max-width: 90vw;
}

h2 {
  text-align: center;
  color: red;
  filter: blur(1px);
  filter: drop-shadow(0px 16px 20px rgb(219, 120, 219));
  font-size: 150%;
  margin-bottom: 20px;
}

#btns {
  margin-top: 20px;
}

.btn {
  transform: scale(1.7);
  margin: 20px 30px 20px 50px;
  color: orangered;
  background-color: black;
  border: solid 1px turquoise;
  opacity: 1;
  transition: all 0.5s;
  display: inline-block;
}

.btn:hover {
  transform: scale(1.9);
  border: outset 5px turquoise;
  color: red;
  transition: all 0.3s;
}

.btn:active {
  border: inset 4px lightseagreen;
  color: orangered;
  outline: none;
}

.btn:disabled {
  color:darkslategray;
  transform: scale(0.1);
  opacity: 0;
  transition: all 0.7s;
}

.btn:focus {
  outline: none;
}